build/app/Analysis-00.toc
build/app/app
build/app/app.pkg
build/app/base_library.zip
build/app/BUNDLE-00.toc
build/app/COLLECT-00.toc
build/app/EXE-00.toc
build/app/PKG-00.toc
build/app/PYZ-00.pyz
build/app/PYZ-00.toc
build/app/warn-app.txt
build/app/xref-app.html
build/app/localpycs/pyimod01_archive.pyc
build/app/localpycs/pyimod02_importers.pyc
build/app/localpycs/pyimod03_ctypes.pyc
build/app/localpycs/struct.pyc
dist/.DS_Store
dist/app/.DS_Store
dist/app/app
dist/app/_internal/.DS_Store
dist/app/_internal/base_library.zip
dist/app/_internal/libbz2.dylib
dist/app/_internal/libcrypto.3.dylib
dist/app/_internal/libexpat.1.dylib
dist/app/_internal/libffi.8.dylib
dist/app/_internal/liblzma.5.dylib
dist/app/_internal/libncurses.6.dylib
dist/app/_internal/libpython3.10.dylib
dist/app/_internal/libreadline.8.dylib
dist/app/_internal/libssl.3.dylib
dist/app/_internal/libtinfo.6.dylib
dist/app/_internal/libz.1.dylib
dist/app/_internal/AppKit/_AppKit.cpython-310-darwin.so
dist/app/_internal/AppKit/_inlines.cpython-310-darwin.so
dist/app/_internal/CoreFoundation/_CoreFoundation.cpython-310-darwin.so
dist/app/_internal/CoreFoundation/_inlines.cpython-310-darwin.so
dist/app/_internal/Foundation/_Foundation.cpython-310-darwin.so
dist/app/_internal/Foundation/_inlines.cpython-310-darwin.so
dist/app/_internal/MarkupSafe-3.0.2.dist-info/INSTALLER
dist/app/_internal/MarkupSafe-3.0.2.dist-info/LICENSE.txt
dist/app/_internal/MarkupSafe-3.0.2.dist-info/METADATA
dist/app/_internal/MarkupSafe-3.0.2.dist-info/RECORD
dist/app/_internal/MarkupSafe-3.0.2.dist-info/top_level.txt
dist/app/_internal/MarkupSafe-3.0.2.dist-info/WHEEL
dist/app/_internal/Security/_Security.cpython-310-darwin.so
dist/app/_internal/WebKit/_WebKit.cpython-310-darwin.so
dist/app/_internal/click-8.2.1.dist-info/INSTALLER
dist/app/_internal/click-8.2.1.dist-info/METADATA
dist/app/_internal/click-8.2.1.dist-info/RECORD
dist/app/_internal/click-8.2.1.dist-info/WHEEL
dist/app/_internal/click-8.2.1.dist-info/licenses/LICENSE.txt
dist/app/_internal/itsdangerous-2.2.0.dist-info/INSTALLER
dist/app/_internal/itsdangerous-2.2.0.dist-info/LICENSE.txt
dist/app/_internal/itsdangerous-2.2.0.dist-info/METADATA
dist/app/_internal/itsdangerous-2.2.0.dist-info/RECORD
dist/app/_internal/itsdangerous-2.2.0.dist-info/WHEEL
dist/app/_internal/lib-dynload/_asyncio.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_bisect.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_blake2.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_bz2.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_codecs_cn.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_codecs_hk.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_codecs_iso2022.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_codecs_jp.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_codecs_kr.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_codecs_tw.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_contextvars.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_csv.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_ctypes.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_datetime.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_decimal.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_elementtree.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_hashlib.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_heapq.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_json.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_lzma.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_md5.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_multibytecodec.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_multiprocessing.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_opcode.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_pickle.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_posixshmem.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_posixsubprocess.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_queue.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_random.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_scproxy.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_sha1.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_sha3.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_sha256.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_sha512.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_socket.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_ssl.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_statistics.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_struct.cpython-310-darwin.so
dist/app/_internal/lib-dynload/_uuid.cpython-310-darwin.so
dist/app/_internal/lib-dynload/array.cpython-310-darwin.so
dist/app/_internal/lib-dynload/binascii.cpython-310-darwin.so
dist/app/_internal/lib-dynload/fcntl.cpython-310-darwin.so
dist/app/_internal/lib-dynload/grp.cpython-310-darwin.so
dist/app/_internal/lib-dynload/math.cpython-310-darwin.so
dist/app/_internal/lib-dynload/mmap.cpython-310-darwin.so
dist/app/_internal/lib-dynload/pyexpat.cpython-310-darwin.so
dist/app/_internal/lib-dynload/readline.cpython-310-darwin.so
dist/app/_internal/lib-dynload/resource.cpython-310-darwin.so
dist/app/_internal/lib-dynload/select.cpython-310-darwin.so
dist/app/_internal/lib-dynload/syslog.cpython-310-darwin.so
dist/app/_internal/lib-dynload/termios.cpython-310-darwin.so
dist/app/_internal/lib-dynload/unicodedata.cpython-310-darwin.so
dist/app/_internal/lib-dynload/zlib.cpython-310-darwin.so
dist/app/_internal/markupsafe/_speedups.cpython-310-darwin.so
dist/app/_internal/objc/_machsignals.cpython-310-darwin.so
dist/app/_internal/objc/_objc.cpython-310-darwin.so
dist/app/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/INSTALLER
dist/app/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/LICENSE
dist/app/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/METADATA
dist/app/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/RECORD
dist/app/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/REQUESTED
dist/app/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/top_level.txt
dist/app/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/WHEEL
dist/app/_internal/setuptools/_vendor/jaraco/text/Lorem ipsum.txt
dist/app/_internal/templates/video_split.html
dist/app/_internal/webview/js/api.js
dist/app/_internal/webview/js/customize.js
dist/app/_internal/webview/js/finish.js
dist/app/_internal/webview/js/lib/dom_json.js
dist/app/_internal/webview/js/lib/polyfill.js
dist/app/_internal/werkzeug-3.1.3.dist-info/INSTALLER
dist/app/_internal/werkzeug-3.1.3.dist-info/LICENSE.txt
dist/app/_internal/werkzeug-3.1.3.dist-info/METADATA
dist/app/_internal/werkzeug-3.1.3.dist-info/RECORD
dist/app/_internal/werkzeug-3.1.3.dist-info/WHEEL
dist/app.app/Contents/Info.plist
dist/app.app/Contents/Frameworks/base_library.zip
dist/app.app/Contents/Frameworks/click-8.2.1.dist-info
dist/app.app/Contents/Frameworks/itsdangerous-2.2.0.dist-info
dist/app.app/Contents/Frameworks/libbz2.dylib
dist/app.app/Contents/Frameworks/libcrypto.3.dylib
dist/app.app/Contents/Frameworks/libexpat.1.dylib
dist/app.app/Contents/Frameworks/libffi.8.dylib
dist/app.app/Contents/Frameworks/liblzma.5.dylib
dist/app.app/Contents/Frameworks/libncurses.6.dylib
dist/app.app/Contents/Frameworks/libpython3.10.dylib
dist/app.app/Contents/Frameworks/libreadline.8.dylib
dist/app.app/Contents/Frameworks/libssl.3.dylib
dist/app.app/Contents/Frameworks/libtinfo.6.dylib
dist/app.app/Contents/Frameworks/libz.1.dylib
dist/app.app/Contents/Frameworks/MarkupSafe-3.0.2.dist-info
dist/app.app/Contents/Frameworks/setuptools
dist/app.app/Contents/Frameworks/templates
dist/app.app/Contents/Frameworks/webview
dist/app.app/Contents/Frameworks/werkzeug-3.1.3.dist-info
dist/app.app/Contents/Frameworks/AppKit/_AppKit.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/AppKit/_inlines.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/CoreFoundation/_CoreFoundation.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/CoreFoundation/_inlines.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/Foundation/_Foundation.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/Foundation/_inlines.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/Security/_Security.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/WebKit/_WebKit.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_asyncio.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_bisect.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_blake2.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_bz2.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_codecs_cn.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_codecs_hk.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_codecs_iso2022.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_codecs_jp.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_codecs_kr.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_codecs_tw.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_contextvars.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_csv.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_ctypes.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_datetime.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_decimal.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_elementtree.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_hashlib.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_heapq.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_json.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_lzma.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_md5.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_multibytecodec.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_multiprocessing.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_opcode.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_pickle.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_posixshmem.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_posixsubprocess.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_queue.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_random.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_scproxy.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_sha1.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_sha3.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_sha256.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_sha512.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_socket.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_ssl.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_statistics.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_struct.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/_uuid.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/array.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/binascii.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/fcntl.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/grp.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/math.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/mmap.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/pyexpat.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/readline.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/resource.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/select.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/syslog.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/termios.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/unicodedata.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/lib-dynload/zlib.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/markupsafe/_speedups.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/objc/_machsignals.cpython-310-darwin.so
dist/app.app/Contents/Frameworks/objc/_objc.cpython-310-darwin.so
dist/app.app/Contents/MacOS/app
dist/app.app/Contents/Resources/AppKit
dist/app.app/Contents/Resources/base_library.zip
dist/app.app/Contents/Resources/CoreFoundation
dist/app.app/Contents/Resources/Foundation
dist/app.app/Contents/Resources/icon-windowed.icns
dist/app.app/Contents/Resources/lib-dynload
dist/app.app/Contents/Resources/libbz2.dylib
dist/app.app/Contents/Resources/libcrypto.3.dylib
dist/app.app/Contents/Resources/libexpat.1.dylib
dist/app.app/Contents/Resources/libffi.8.dylib
dist/app.app/Contents/Resources/liblzma.5.dylib
dist/app.app/Contents/Resources/libncurses.6.dylib
dist/app.app/Contents/Resources/libpython3.10.dylib
dist/app.app/Contents/Resources/libreadline.8.dylib
dist/app.app/Contents/Resources/libssl.3.dylib
dist/app.app/Contents/Resources/libtinfo.6.dylib
dist/app.app/Contents/Resources/libz.1.dylib
dist/app.app/Contents/Resources/markupsafe
dist/app.app/Contents/Resources/objc
dist/app.app/Contents/Resources/Security
dist/app.app/Contents/Resources/WebKit
dist/app.app/Contents/Resources/MarkupSafe-3.0.2.dist-info/INSTALLER
dist/app.app/Contents/Resources/MarkupSafe-3.0.2.dist-info/LICENSE.txt
dist/app.app/Contents/Resources/MarkupSafe-3.0.2.dist-info/METADATA
dist/app.app/Contents/Resources/MarkupSafe-3.0.2.dist-info/RECORD
dist/app.app/Contents/Resources/MarkupSafe-3.0.2.dist-info/top_level.txt
dist/app.app/Contents/Resources/MarkupSafe-3.0.2.dist-info/WHEEL
dist/app.app/Contents/Resources/click-8.2.1.dist-info/INSTALLER
dist/app.app/Contents/Resources/click-8.2.1.dist-info/METADATA
dist/app.app/Contents/Resources/click-8.2.1.dist-info/RECORD
dist/app.app/Contents/Resources/click-8.2.1.dist-info/WHEEL
dist/app.app/Contents/Resources/click-8.2.1.dist-info/licenses/LICENSE.txt
dist/app.app/Contents/Resources/itsdangerous-2.2.0.dist-info/INSTALLER
dist/app.app/Contents/Resources/itsdangerous-2.2.0.dist-info/LICENSE.txt
dist/app.app/Contents/Resources/itsdangerous-2.2.0.dist-info/METADATA
dist/app.app/Contents/Resources/itsdangerous-2.2.0.dist-info/RECORD
dist/app.app/Contents/Resources/itsdangerous-2.2.0.dist-info/WHEEL
dist/app.app/Contents/Resources/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/INSTALLER
dist/app.app/Contents/Resources/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/LICENSE
dist/app.app/Contents/Resources/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/METADATA
dist/app.app/Contents/Resources/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/RECORD
dist/app.app/Contents/Resources/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/REQUESTED
dist/app.app/Contents/Resources/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/top_level.txt
dist/app.app/Contents/Resources/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/WHEEL
dist/app.app/Contents/Resources/setuptools/_vendor/jaraco/text/Lorem ipsum.txt
dist/app.app/Contents/Resources/templates/video_split.html
dist/app.app/Contents/Resources/webview/js/api.js
dist/app.app/Contents/Resources/webview/js/customize.js
dist/app.app/Contents/Resources/webview/js/finish.js
dist/app.app/Contents/Resources/webview/js/lib/dom_json.js
dist/app.app/Contents/Resources/webview/js/lib/polyfill.js
dist/app.app/Contents/Resources/werkzeug-3.1.3.dist-info/INSTALLER
dist/app.app/Contents/Resources/werkzeug-3.1.3.dist-info/LICENSE.txt
dist/app.app/Contents/Resources/werkzeug-3.1.3.dist-info/METADATA
dist/app.app/Contents/Resources/werkzeug-3.1.3.dist-info/RECORD
dist/app.app/Contents/Resources/werkzeug-3.1.3.dist-info/WHEEL
dist/app.app/Contents/_CodeSignature/CodeResources
PyInstaller打包踩坑记录.md
.DS_Store
